.movie-box {
  cursor: pointer;
  background-color: whitesmoke;
  padding: 1rem;
  margin: 1rem;
  width: 30%;
}

.image-poster {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
  .movie-box {
    width: 100%;
  }
}
